---
common-css:
  - "/css/bootstrap.min.css"
  - "/css/main.css"
common-ext-css:
  - "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
common-js:
  - "/js/jquery-1.11.2.min.js"
  - "/js/bootstrap.min.js"
  - "/js/main.js"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="header">
        {% include nav.html %}
        <div class="container">
            <div id="logo">
                  {% if page.banner %}
                <h1><a href="#">
                    {{ page.banner }}</a></h1>
                  {% else %}
                <h1><a href="#">
                    {{ page.title }}</a></h1>
                  {% endif %}
                  {% if page.subbanner %}
                <span class="tag">{{ page.subbanner }}</span>
                  {% else %}
                <span class="tag">{{ page.subtitle }}</span>
                  {% endif %}
            </div>
        </div>
    </div>
    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
